<h1>Angular Routing </h1>
<p>Routing is a machanism to manage path and routes</p>
<p>it helps in navigation between various views</p>
<p>Routing module founfd in @angular/router</p>
<p>Router has states</p>

<h2>Types of Routes</h2>
<p>Routes for Component</p>
<p>Get query Param from Routes</p>
<p>Getting URL Segnment</p>
<p>Loading Child Routes For Module</p>
<p>Lazy Loading</p>
<p>Handling Wild Card Routes</p>
<p>Handling Default Routes</p>
<p>Handling 404 Routes</p>

<p>Path Location and Hash Location</p>
<p>Base HREF is Present in index.html file</p>
<p> Example http://prado.com   --root folder</p>
<p>http://prado.com/demos</p>
<p>base href is /demos</p>

<p>configure it </p>
<p>ng build --base-href="/demos/" </p>
<h2>Routing</h2>
<base href="/">
<ul>
    <li><a href="/products">Products</a></li>
    <li><a href="/product-view">Product-View</a></li>
    <li><a href="/product-edit">Product-Edit</a></li>
    <li><a href="/product-id">Product-ID</a></li>
</ul>
